* {
    margin: 0;
    padding: 0;
}

.nav-color {
    background: #363636;
}

.container-header {
    background: #87CEFA;
    position: center;;

    width: 100%;
    height: 200px;
}

.container-header h1 {
    padding-left: 10px;
    padding-top: 70px;
}

.footer-style {
    background: #DCDCDC;
    position: absolute;
    top: 84%;
    margin-top: -50px;
    width: 100%;
    height: 200px;

}

div.container-footer h6 {
    padding: 80px;
    text-align: center;
}